<div class="row">
  <div class="col-md-6">
    <h1>Edit <%= @ingredient.name %></h1>
    <form action="/ingredients" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="ingredient-id" value="<%= @ingredient.id %>">
      <label for="ingredient-name">Ingredient Name:</label>
      <input type="text" name="ingredient-name" class="form-control" value="<%= @ingredient.name %>">
      <br>
      <button type="submit" class="btn-lg btn-success outline">Update Ingredient</button>
    </form>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h2>Recipes that include <%= @ingredient.name %></h2>
    <hr>
    <div class="nice-list">
      <ul>
        <% @ingredient.recipes.each do |recipe| %>
          <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<form action="/ingredients" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="ingredient-id" value="<%= @ingredient.id %>">
  <button type="submit" class="btn-lg btn-danger outline">Delete Ingredient</button>
</form>
