<h1>Edit <%= @recipe.name %></h1>
<form action="/recipes" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="recipe-id" value="<%= @recipe.id %>">
  <div class="row">
    <div class="col-md-6">
      <label for="recipe-name">Recipe Name:</label>
      <input type="text" name="recipe-name" class="form-control" value="<%= @recipe.name %>">
      <br>
      <label for="recipe-instructions">Instructions:</label>
      <textarea name="recipe-instructions" class="form-control" rows="6"><%= @recipe.instructions %></textarea>
      <br>
      <label for="recipe-rating">Rating:</label>
      <select class="form-control" name="recipe-rating" value="<%= @recipe.rating %>">
        <% [5,4,3,2,1].each do |value| %>
          <%= value == @recipe.rating ? "<option value='#{value}' selected='selected'>#{value}</option>" : "<option value='#{value}'>#{value}</option>" %>
        <% end %>
      </select>
      <br>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div id="ingredients" class="row">
        <h2>Ingredients</h2>
        <hr>
        <div class="form-check">
          <% Ingredient.all.each do |ingredient| %>
            <%= @recipe.ingredients.include?(ingredient) ? "<div class='checkbox'><label><input value='#{ingredient.id}' type='checkbox' name='ingredients' checked>#{ingredient.name}</label></div>" : "<div class='checkbox'><label><input value='#{ingredient.id}' type='checkbox' name='ingredients'>#{ingredient.name}</label></div>" %>
          <% end %>
        </div>
      </div>
      <div id="tags" class="row">
        <h2>Tags</h2>
        <hr>
        <div class="form-check">
          <% Tag.all.each do |tag| %>
            <%= @recipe.tags.include?(tag) ? "<div class='checkbox'><label><input value='#{tag.id}' type='checkbox' name='tags' checked>#{tag.name}</label></div>" : "<div class='checkbox'><label><input value='#{tag.id}' type='checkbox' name='tags'>#{tag.name}</label></div>" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn-lg btn-success outline">Update Recipe</button>
</form>
<br>
<form action="/recipes" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="recipe-id" value="<%= @recipe.id %>">
  <button type="submit" class="btn-lg btn-danger outline">Delete Recipe</button>
</form>
