<h1><%= @recipe.name %></h1>
<div class="row">
  <div class="col-md-6">
    <% @recipe.rating.times do %>
    <img class="star animated bounce" src="/img/star.png">
    <% end %>
    <h3><%= simple_format(@recipe.instructions) %></h3>
  </div>
  <div class="col-md-6">
    <div class="row nice-list">
      <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
          <% end %>
        </ul>
      <hr>
    </div>
    <div id="tags" class="row">
      <h2>Tags</h2>
      <% @recipe.tags.each do |tag| %>
        <div class="tag"><%= tag.name %></div>
      <% end %>
      <hr>
    </div>
  </div>
</div>
<a href="<%= @recipe.id %>/edit" class="btn-lg btn-warning outline">Edit Recipe</a>
